source code/Cleanliness Show.json
[
    {
        "id": "9528cf535383c9df",
        "type": "tab",
        "label": "Cleanliness",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b544651a5c94356c",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "22-23",
        "low": "22",
        "high": "23",
        "inte": "true",
        "property": "payload.before_code_4um",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "b51f82c880a4170c",
                "d38afef9e7954220"
            ]
        ]
    },
    {
        "id": "a10d43c542aaf774",
        "type": "inject",
        "z": "9528cf535383c9df",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 145,
        "y": 940,
        "wires": [
            [
                "b544651a5c94356c",
                "879b6250a0187bdc",
                "29aa5d56cbde17f7",
                "c2a320e5d4eaceb3",
                "b5c3cc0cfeaa8aa5",
                "18a88df87f55cb0e",
                "f746f7e9ccd015dd",
                "a4c55e7e41c50f46",
                "53f47fc.c84908",
                "65a47c10.e24204",
                "d97d2f171b5b8382"
            ]
        ],
        "l": false
    },
    {
        "id": "328dde2777d55f64",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "23",
        "property": "payload.before_count_4um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "ef080130077a2733"
            ]
        ]
    },
    {
        "id": "1153c54cdad8175e",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "22",
        "property": "payload.before_count_4um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "faebabe058008b28"
            ]
        ]
    },
    {
        "id": "ef080130077a2733",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "40000",
        "high": "80000",
        "inte": "true",
        "property": "payload.before_count_4um",
        "x": 615,
        "y": 160,
        "wires": [
            [
                "5d8b4e1d75a1ab83"
            ]
        ],
        "l": false
    },
    {
        "id": "faebabe058008b28",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "20000",
        "high": "40000",
        "inte": "true",
        "property": "payload.before_count_4um",
        "x": 615,
        "y": 200,
        "wires": [
            [
                "5d8b4e1d75a1ab83"
            ]
        ],
        "l": false
    },
    {
        "id": "0c57293967683ae8",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "de7007329f0691c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "4μm",
        "icon": "",
        "label": "4μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#595959",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.before_code_4um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#dc3845",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#dc3845",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "62ee056ac703f2bc",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "a5a415f45a096169",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "4μ",
        "label": "4μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "80000",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.before_count_4um",
        "peaktime": 3000,
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "879b6250a0187bdc",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "20-21",
        "low": "20",
        "high": "21",
        "inte": "true",
        "property": "payload.before_code_6um",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "cf2e950cadfec639",
                "4552dc92fff22346"
            ]
        ]
    },
    {
        "id": "bc598cad0d73b06d",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "21",
        "property": "payload.before_count_6um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "21",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "557e6f0f6b0efa55"
            ]
        ]
    },
    {
        "id": "1cf8b0e2faaab7d0",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "20",
        "property": "payload.before_count_6um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "d84a69eb936dbea9"
            ]
        ]
    },
    {
        "id": "557e6f0f6b0efa55",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "10000",
        "high": "20000",
        "inte": "true",
        "property": "payload.before_count_6um",
        "x": 615,
        "y": 280,
        "wires": [
            [
                "94af95ec73c9b5f1"
            ]
        ],
        "l": false
    },
    {
        "id": "d84a69eb936dbea9",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "5000",
        "high": "10000",
        "inte": "true",
        "property": "payload.before_count_6um",
        "x": 615,
        "y": 320,
        "wires": [
            [
                "94af95ec73c9b5f1"
            ]
        ],
        "l": false
    },
    {
        "id": "d7c50d28b792f41a",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "de7007329f0691c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "6μm",
        "icon": "",
        "label": "6μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.before_code_6um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#fd7e14",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#fd7e14",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "29aa5d56cbde17f7",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "18-19",
        "low": "18",
        "high": "19",
        "inte": "true",
        "property": "payload.before_code_14um",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "4cc2ab619534c94a",
                "577daf36e558ae55"
            ]
        ]
    },
    {
        "id": "1f526466c3a7a971",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "19",
        "property": "payload.before_count_14um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "6c26a875243c69b1"
            ]
        ]
    },
    {
        "id": "0939a00e33b17179",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "18",
        "property": "payload.before_count_14um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "f5346dd39b779ed5"
            ]
        ]
    },
    {
        "id": "6c26a875243c69b1",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "2500",
        "high": "5000",
        "inte": "true",
        "property": "payload.before_count_14um",
        "x": 615,
        "y": 400,
        "wires": [
            [
                "a878491d99db8ca6"
            ]
        ],
        "l": false
    },
    {
        "id": "f5346dd39b779ed5",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "1300",
        "high": "2500",
        "inte": "true",
        "property": "payload.before_count_14um",
        "x": 615,
        "y": 440,
        "wires": [
            [
                "a878491d99db8ca6"
            ]
        ],
        "l": false
    },
    {
        "id": "914398947c9830ac",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "de7007329f0691c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "14μm",
        "icon": "",
        "label": "14μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.before_code_14um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#198754",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#198754",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "01656a535e6e6a06",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "ISO Code & Number of Particles Before Filtration System",
        "info": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "b51f82c880a4170c",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_code_4um",
                "pt": "flow",
                "to": "payload.before_code_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "0c57293967683ae8",
                "2857e7cba6a521fd"
            ]
        ]
    },
    {
        "id": "cf2e950cadfec639",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_code_6um",
                "pt": "flow",
                "to": "payload.before_code_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "d7c50d28b792f41a",
                "18acd63c3ca3019d"
            ]
        ]
    },
    {
        "id": "4cc2ab619534c94a",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_code_14um",
                "pt": "flow",
                "to": "payload.before_code_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "914398947c9830ac",
                "71f02f993020f0c7"
            ]
        ]
    },
    {
        "id": "5d8b4e1d75a1ab83",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_count_4um",
                "pt": "flow",
                "to": "payload.before_count_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 180,
        "wires": [
            [
                "62ee056ac703f2bc"
            ]
        ]
    },
    {
        "id": "94af95ec73c9b5f1",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_count_6um",
                "pt": "flow",
                "to": "payload.before_count_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "e628dfc673dbf425"
            ]
        ]
    },
    {
        "id": "a878491d99db8ca6",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "before_count_14um",
                "pt": "flow",
                "to": "payload.before_count_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "5cd08dda78086594"
            ]
        ]
    },
    {
        "id": "e628dfc673dbf425",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "a5a415f45a096169",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "6μm",
        "label": "6μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "20000",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.before_count_6um",
        "peaktime": 3000,
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "5cd08dda78086594",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "a5a415f45a096169",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "14μm",
        "label": "14μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "5000",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.before_count_14um",
        "peaktime": 3000,
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "d38afef9e7954220",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.before_code_4um",
                "pt": "msg",
                "to": "payload.before_count_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 160,
        "wires": [
            [
                "328dde2777d55f64",
                "1153c54cdad8175e"
            ]
        ],
        "l": false
    },
    {
        "id": "4552dc92fff22346",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.before_code_6um",
                "pt": "msg",
                "to": "payload.before_count_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 280,
        "wires": [
            [
                "bc598cad0d73b06d",
                "1cf8b0e2faaab7d0"
            ]
        ],
        "l": false
    },
    {
        "id": "577daf36e558ae55",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.before_code_14um",
                "pt": "msg",
                "to": "payload.before_count_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 400,
        "wires": [
            [
                "1f526466c3a7a971",
                "0939a00e33b17179"
            ]
        ],
        "l": false
    },
    {
        "id": "c2a320e5d4eaceb3",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "17-18",
        "low": "17",
        "high": "18",
        "inte": "true",
        "property": "payload.after_code_4um",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "bb5d83d59109114e",
                "a51099911fce4d04"
            ]
        ]
    },
    {
        "id": "8db70cc23600dced",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "18",
        "property": "payload.after_count_4um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 600,
        "wires": [
            [
                "26b79e6b4304d5be"
            ]
        ]
    },
    {
        "id": "c36557dcb0b9b3a1",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "17",
        "property": "payload.after_count_4um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "82e2f93876845311"
            ]
        ]
    },
    {
        "id": "26b79e6b4304d5be",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "1300",
        "high": "2500",
        "inte": "true",
        "property": "payload.after_count_4um",
        "x": 615,
        "y": 600,
        "wires": [
            [
                "c007df783a155774"
            ]
        ],
        "l": false
    },
    {
        "id": "82e2f93876845311",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "640",
        "high": "1300",
        "inte": "true",
        "property": "payload.after_count_4um",
        "x": 615,
        "y": 640,
        "wires": [
            [
                "c007df783a155774"
            ]
        ],
        "l": false
    },
    {
        "id": "7b2b7532d3213c94",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "2d8589f3de00ca30",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "4μm",
        "icon": "",
        "label": "4μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#595959",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.after_code_4um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#dc3845",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#dc3845",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "cb229179854e0d75",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "9f6331b6733479de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "4μ",
        "label": "4μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "2500",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.after_count_4um",
        "peaktime": 3000,
        "x": 1010,
        "y": 620,
        "wires": []
    },
    {
        "id": "b5c3cc0cfeaa8aa5",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "15-16",
        "low": "15",
        "high": "16",
        "inte": "true",
        "property": "payload.after_code_6um",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "6c4976045fbf375f",
                "8993f298c9f86dc4"
            ]
        ]
    },
    {
        "id": "648f7b466a977f57",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "16",
        "property": "payload.after_count_6um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 720,
        "wires": [
            [
                "df8a57eae27059e0"
            ]
        ]
    },
    {
        "id": "3fec275a5007f554",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "15",
        "property": "payload.after_count_6um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 760,
        "wires": [
            [
                "186f25102c587773"
            ]
        ]
    },
    {
        "id": "df8a57eae27059e0",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "320",
        "high": "640",
        "inte": "true",
        "property": "payload.after_count_6um",
        "x": 615,
        "y": 720,
        "wires": [
            [
                "a4738c0ad44c2074"
            ]
        ],
        "l": false
    },
    {
        "id": "186f25102c587773",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "160",
        "high": "320",
        "inte": "true",
        "property": "payload.after_count_6um",
        "x": 615,
        "y": 760,
        "wires": [
            [
                "a4738c0ad44c2074"
            ]
        ],
        "l": false
    },
    {
        "id": "7d11e1d5d35a9d17",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "2d8589f3de00ca30",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "6μm",
        "icon": "",
        "label": "6μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.after_code_6um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#fd7e14",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#fd7e14",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "18a88df87f55cb0e",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "13-14",
        "low": "13",
        "high": "14",
        "inte": "true",
        "property": "payload.after_code_14um",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "f7390e265f0103e2",
                "1378d004e2a18cbe"
            ]
        ]
    },
    {
        "id": "5a414578a63ee5e4",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "14",
        "property": "payload.after_count_14um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "923d0af7f7193a31"
            ]
        ]
    },
    {
        "id": "51f9b7d17eff0289",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "13",
        "property": "payload.after_count_14um",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 880,
        "wires": [
            [
                "10afacb9d46b46dd"
            ]
        ]
    },
    {
        "id": "923d0af7f7193a31",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "80",
        "high": "160",
        "inte": "true",
        "property": "payload.after_count_14um",
        "x": 615,
        "y": 840,
        "wires": [
            [
                "8da7fd5cd5d7bcd5"
            ]
        ],
        "l": false
    },
    {
        "id": "10afacb9d46b46dd",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "80",
        "high": "160",
        "inte": "true",
        "property": "payload.after_count_14um",
        "x": 615,
        "y": 880,
        "wires": [
            [
                "8da7fd5cd5d7bcd5"
            ]
        ],
        "l": false
    },
    {
        "id": "38c2e2724983aaac",
        "type": "ui_artlessgauge",
        "z": "9528cf535383c9df",
        "group": "2d8589f3de00ca30",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "14μm",
        "icon": "",
        "label": "14μm",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.after_code_14um",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#198754",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#198754",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": false,
        "diffCenter": "0",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "6bbea77065e11ff4",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "ISO Code & Number of Particles After Filtration System",
        "info": "",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "bb5d83d59109114e",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_code_4um",
                "pt": "flow",
                "to": "payload.after_code_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "7b2b7532d3213c94",
                "2857e7cba6a521fd"
            ]
        ]
    },
    {
        "id": "6c4976045fbf375f",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_code_6um",
                "pt": "flow",
                "to": "payload.after_code_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "7d11e1d5d35a9d17",
                "18acd63c3ca3019d"
            ]
        ]
    },
    {
        "id": "f7390e265f0103e2",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_code_14um",
                "pt": "flow",
                "to": "payload.after_code_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 800,
        "wires": [
            [
                "38c2e2724983aaac",
                "71f02f993020f0c7"
            ]
        ]
    },
    {
        "id": "c007df783a155774",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_count_4um",
                "pt": "flow",
                "to": "payload.after_count_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 620,
        "wires": [
            [
                "cb229179854e0d75"
            ]
        ]
    },
    {
        "id": "a4738c0ad44c2074",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_count_6um",
                "pt": "flow",
                "to": "payload.after_count_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 740,
        "wires": [
            [
                "4a8aef947cd5e12f"
            ]
        ]
    },
    {
        "id": "8da7fd5cd5d7bcd5",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "after_count_14um",
                "pt": "flow",
                "to": "payload.after_count_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 860,
        "wires": [
            [
                "d88e2d39754de9b9"
            ]
        ]
    },
    {
        "id": "4a8aef947cd5e12f",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "9f6331b6733479de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "6μm",
        "label": "6μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "640",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.after_count_6um",
        "peaktime": 3000,
        "x": 1010,
        "y": 740,
        "wires": []
    },
    {
        "id": "d88e2d39754de9b9",
        "type": "ui_level",
        "z": "9528cf535383c9df",
        "group": "9f6331b6733479de",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "14μm",
        "label": "14μm: ",
        "colorHi": "#dc3445",
        "colorWarn": "#fd7e14",
        "colorNormal": "#198754",
        "colorOff": "#595959",
        "min": 0,
        "max": "160",
        "segWarn": "0",
        "segHigh": "0",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "2",
        "colorschema": "rainbow",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload.after_count_14um",
        "peaktime": 3000,
        "x": 1010,
        "y": 860,
        "wires": []
    },
    {
        "id": "a51099911fce4d04",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.after_code_4um",
                "pt": "msg",
                "to": "payload.after_count_4um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 600,
        "wires": [
            [
                "8db70cc23600dced",
                "c36557dcb0b9b3a1"
            ]
        ],
        "l": false
    },
    {
        "id": "8993f298c9f86dc4",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.after_code_6um",
                "pt": "msg",
                "to": "payload.after_count_6um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 720,
        "wires": [
            [
                "648f7b466a977f57",
                "3fec275a5007f554"
            ]
        ],
        "l": false
    },
    {
        "id": "1378d004e2a18cbe",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.after_code_14um",
                "pt": "msg",
                "to": "payload.after_count_14um",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395,
        "y": 840,
        "wires": [
            [
                "5a414578a63ee5e4",
                "51f9b7d17eff0289"
            ]
        ],
        "l": false
    },
    {
        "id": "f746f7e9ccd015dd",
        "type": "moment",
        "z": "9528cf535383c9df",
        "name": "Date",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Asia/Bangkok",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "en-US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "886e3270f5ec5d72"
            ]
        ]
    },
    {
        "id": "886e3270f5ec5d72",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cleanliness_date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1c4961f8add221",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Create Date Time for Databases",
        "info": "",
        "x": 350,
        "y": 940,
        "wires": []
    },
    {
        "id": "bef63bd542cb9329",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "3509d49413e679be",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ISO Code Number Before Filtration",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 640,
        "y": 1120,
        "wires": []
    },
    {
        "id": "54b513b081b73a0f",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "3509d49413e679be",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ISO Code Number After Filtration",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 640,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a4c55e7e41c50f46",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "msg.payload = [ \n    {\n    \"before_code_4um\": flow.get(\"before_code_4um\"),\n    \"before_code_6um\": flow.get(\"before_code_6um\"),\n    \"before_code_14um\": flow.get(\"before_code_14um\"),\n    \"after_code_4um\": flow.get(\"after_code_4um\"),\n    \"after_code_6um\": flow.get(\"after_code_6um\"),\n    \"after_code_14um\": flow.get(\"after_code_14um\"),\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "bd06f5829533fc65",
                "1e83e66eefc69190"
            ]
        ]
    },
    {
        "id": "bd06f5829533fc65",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "msg.payload = msg.payload[0].before_code_4um + \"/\" + msg.payload[0].before_code_6um + \"/\" + msg.payload[0].before_code_14um;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1120,
        "wires": [
            [
                "bef63bd542cb9329"
            ]
        ],
        "l": false
    },
    {
        "id": "1e83e66eefc69190",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "msg.payload = msg.payload[0].after_code_4um + \"/\" + msg.payload[0].after_code_6um + \"/\" + msg.payload[0].after_code_14um;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1160,
        "wires": [
            [
                "54b513b081b73a0f"
            ]
        ],
        "l": false
    },
    {
        "id": "56b7a0d98d9eb305",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Send Data Cleanliness to Page Users",
        "info": "",
        "x": 370,
        "y": 1060,
        "wires": []
    },
    {
        "id": "828ad3d5d2a026c6",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "insert statement",
        "func": "msg.topic = \"INSERT INTO cleanliness (date, before_code_4um, before_code_6um, before_code_14um, before_count_4um, before_count_6um, before_count_14um, after_code_4um, after_code_6um, after_code_14um, after_count_4um, after_count_6um, after_count_14um, filter_housing1, filter_housing2, filter_brand, filter_type, element_qty, element_price, fuel_processed, flowrate, actual_cpl) \" + \n    \"VALUES ('\" + msg.cleanliness_date + \"', '\" + msg.before_code_4um + \"', '\" + msg.before_code_6um + \"', '\" + msg.before_code_14um + \"', '\" + msg.before_count_4um + \"', '\" + msg.before_count_6um + \"', '\" + msg.before_count_14um + \"', '\" + msg.after_code_4um + \"', '\" + msg.after_code_6um + \"', '\" + msg.after_code_14um + \"', '\" + msg.after_count_4um + \"', '\" + msg.after_count_6um + \"', '\" + msg.after_count_14um + \"',  '\" + msg.filter_housing1 + \"',  '\" + msg.filter_housing2 + \"',  '\" + msg.filter_brand + \"',  '\" + msg.filter_type + \"',  '\" + msg.element_qty + \"',  '\" + msg.element_price + \"',  '\" + msg.fuel_processed + \"',  '\" + msg.flowrate + \"',  '\" + msg.actual_cpl + \"');\"; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1540,
        "wires": [
            [
                "14b6a40ed2522782"
            ]
        ]
    },
    {
        "id": "14b6a40ed2522782",
        "type": "mysql",
        "z": "9528cf535383c9df",
        "mydb": "347578936cd017ea",
        "name": "",
        "x": 1210,
        "y": 1540,
        "wires": [
            [
                "82d40c2d1f555080"
            ]
        ]
    },
    {
        "id": "fe8a6aef5620e8db",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "msg = \n    {\n    \"cleanliness_date\": flow.get(\"cleanliness_date\"),\n    \"before_code_4um\": flow.get(\"before_code_4um\"),\n    \"before_code_6um\": flow.get(\"before_code_6um\"),\n    \"before_code_14um\": flow.get(\"before_code_14um\"),\n    \"before_count_4um\": flow.get(\"before_count_4um\"),\n    \"before_count_6um\": flow.get(\"before_count_6um\"),\n    \"before_count_14um\": flow.get(\"before_count_14um\"),\n    \"after_code_4um\": flow.get(\"after_code_4um\"),\n    \"after_code_6um\": flow.get(\"after_code_6um\"),\n    \"after_code_14um\": flow.get(\"after_code_14um\"),\n    \"after_count_4um\": flow.get(\"after_count_4um\"),\n    \"after_count_6um\": flow.get(\"after_count_6um\"),\n    \"after_count_14um\": flow.get(\"after_count_14um\"),\n    \"filter_housing1\": flow.get(\"filter_housing1\"),\n    \"filter_housing2\": flow.get(\"filter_housing2\"),\n    \"filter_brand\": flow.get(\"filter_brand\"),\n    \"filter_type\": flow.get(\"filter_type\"),\n    \"element_qty\": flow.get(\"element_qty\"),\n    \"element_price\": flow.get(\"element_price\"),\n    \"fuel_processed\": flow.get(\"fuel_processed\"),\n    \"actual_cpl\": flow.get(\"actual_cpl\"),\n    \"flowrate\": flow.get(\"flowrate\"),\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1540,
        "wires": [
            [
                "828ad3d5d2a026c6"
            ]
        ]
    },
    {
        "id": "48525413d17b67f8",
        "type": "ui_gauge",
        "z": "9528cf535383c9df",
        "name": "",
        "group": "df84df90d9be6c01",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Filter Housing 1",
        "label": " ",
        "format": "{{value}} Psid",
        "min": 0,
        "max": "25",
        "colors": [
            "#198754",
            "#fd7e14",
            "#dc3845"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 1900,
        "wires": []
    },
    {
        "id": "7853d81be5dde10b",
        "type": "ui_gauge",
        "z": "9528cf535383c9df",
        "name": "",
        "group": "df84df90d9be6c01",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Filter Housing 2",
        "label": " ",
        "format": "{{value}} Psid",
        "min": 0,
        "max": "25",
        "colors": [
            "#198754",
            "#fd7e14",
            "#dc3845"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 1940,
        "wires": []
    },
    {
        "id": "aae0c73d9977caa5",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "10",
        "high": "12",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 1900,
        "wires": [
            [
                "a73591684608b441"
            ]
        ]
    },
    {
        "id": "d482281f23200e6c",
        "type": "random",
        "z": "9528cf535383c9df",
        "name": "",
        "low": "18",
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 1940,
        "wires": [
            [
                "d7ab0846ff59b61b"
            ]
        ]
    },
    {
        "id": "a73591684608b441",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter_housing1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1900,
        "wires": [
            [
                "48525413d17b67f8"
            ]
        ]
    },
    {
        "id": "d7ab0846ff59b61b",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter_housing2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1940,
        "wires": [
            [
                "7853d81be5dde10b"
            ]
        ]
    },
    {
        "id": "c8f12562f612541f",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Differential Pressure Monitoring",
        "info": "",
        "x": 350,
        "y": 1840,
        "wires": []
    },
    {
        "id": "1b267051faedd28a",
        "type": "ui_dropdown",
        "z": "9528cf535383c9df",
        "name": "Filter Brand",
        "label": "Select a filter brand :",
        "tooltip": "",
        "place": "",
        "group": "9ba89fe3c30a9f58",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Parker",
                "value": "Parker",
                "type": "str"
            },
            {
                "label": "Rexroth",
                "value": "Rexroth",
                "type": "str"
            },
            {
                "label": "Other",
                "value": "Other",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 650,
        "y": 2060,
        "wires": [
            [
                "c80992264294b739",
                "fdc77b734362d4b6"
            ]
        ]
    },
    {
        "id": "dae7fb2df129c88f",
        "type": "ui_text_input",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "Filter Element Price",
        "tooltip": "",
        "group": "9ba89fe3c30a9f58",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 670,
        "y": 2260,
        "wires": [
            [
                "fa5420181682dc8d"
            ]
        ]
    },
    {
        "id": "90de460d40f419e3",
        "type": "ui_text_input",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "Qty of Elements",
        "tooltip": "",
        "group": "9ba89fe3c30a9f58",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 2300,
        "wires": [
            [
                "3477694755e9c87b"
            ]
        ]
    },
    {
        "id": "c80992264294b739",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Other",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Parker",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rexroth",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 815,
        "y": 2140,
        "wires": [
            [
                "5dd7f873a399f128"
            ],
            [
                "dbe2bfb7bff693db"
            ],
            [
                "f61b5b43217c9292"
            ]
        ],
        "l": false
    },
    {
        "id": "daa7cc61775165c3",
        "type": "ui_dropdown",
        "z": "9528cf535383c9df",
        "name": "Filter Type",
        "label": "Select a filter type :",
        "tooltip": "",
        "place": "",
        "group": "9ba89fe3c30a9f58",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1250,
        "y": 2140,
        "wires": [
            [
                "30cc696a67f1cf9f"
            ]
        ]
    },
    {
        "id": "5dd7f873a399f128",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enable",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2100,
        "wires": [
            [
                "daa7cc61775165c3"
            ]
        ]
    },
    {
        "id": "dbe2bfb7bff693db",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[\"AD-52425\",\"AD-52410\",\"DFO-656PLF25\",\"DFO-644PLF5\",\"DFO-644PLF10\",\"DFO-629PLF5\",\"DFO-629PLF10\",\"DI-633D10TB\",\"DI-656D5TB\",\"DI-656D10TB\",\"DI-656D25TB\",\"DSO-629PLF3\",\"DSO-644PLF3\",\"HOCP-44805\",\"HOCP-44810\",\"HSP-44405\",\"HSP-44410\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2140,
        "wires": [
            [
                "daa7cc61775165c3"
            ]
        ]
    },
    {
        "id": "f61b5b43217c9292",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[\"R928002373\",\"R928005820\",\"R928005638\",\"R928005640\",\"R928005709\",\"R928005763\",\"R928005766\",\"R928005792\",\"R928005782\",\"R928006484\",\"R928007059\",\"R928015963\",\"R928017529\",\"R928019315\",\"R928027889\",\"R928027920\",\"R928035103\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2180,
        "wires": [
            [
                "daa7cc61775165c3"
            ]
        ]
    },
    {
        "id": "9026c79865de48f4",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "9ba89fe3c30a9f58",
        "name": "Save",
        "order": 4,
        "width": 2,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload: '1'})\"> \n    Save<br/>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 270,
        "y": 2780,
        "wires": [
            [
                "f4d2d33726516220"
            ]
        ]
    },
    {
        "id": "0dc52e988b3607d6",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "9ba89fe3c30a9f58",
        "name": "Cancel",
        "order": 6,
        "width": 2,
        "height": 1,
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload: 'Cancel'})\"> \n    Cancel<br/>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 2060,
        "wires": [
            [
                "78f2e59d6924b288"
            ]
        ]
    },
    {
        "id": "78f2e59d6924b288",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "clear data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 2060,
        "wires": [
            [
                "1b267051faedd28a",
                "4189ffdb5be03f40",
                "90de460d40f419e3",
                "dae7fb2df129c88f",
                "2a62241d64dfec3c",
                "97d61ad9ddef650a"
            ]
        ]
    },
    {
        "id": "b17b5e83f1680299",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[ ]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2220,
        "wires": [
            [
                "daa7cc61775165c3"
            ]
        ]
    },
    {
        "id": "2a62241d64dfec3c",
        "type": "ui_dropdown",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "Before filtration :",
        "tooltip": "",
        "place": "ISO code number",
        "group": "d53f56c53ea19c84",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "23/21/19",
                "value": "23/21/19",
                "type": "str"
            },
            {
                "label": "23/21/18",
                "value": "23/21/18",
                "type": "str"
            },
            {
                "label": "23/20/19",
                "value": "23/20/19",
                "type": "str"
            },
            {
                "label": "23/20/18",
                "value": "23/20/18",
                "type": "str"
            },
            {
                "label": "22/21/19",
                "value": "22/21/19",
                "type": "str"
            },
            {
                "label": "22/21/18",
                "value": "22/21/18",
                "type": "str"
            },
            {
                "label": "22/20/19",
                "value": "22/20/19",
                "type": "str"
            },
            {
                "label": "22/21/18",
                "value": "22/22/18",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 660,
        "y": 2420,
        "wires": [
            [
                "c7c3cb185682e8e0"
            ]
        ]
    },
    {
        "id": "97d61ad9ddef650a",
        "type": "ui_dropdown",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "After filtration :",
        "tooltip": "",
        "place": "ISO code number",
        "group": "d53f56c53ea19c84",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "18/16/14",
                "value": "18/16/14",
                "type": "str"
            },
            {
                "label": "18/16/13",
                "value": "18/16/13",
                "type": "str"
            },
            {
                "label": "18/15/14",
                "value": "18/15/14",
                "type": "str"
            },
            {
                "label": "18/15/13",
                "value": "18/15/13",
                "type": "str"
            },
            {
                "label": "17/16/14",
                "value": "17/16/14",
                "type": "str"
            },
            {
                "label": "17/16/13",
                "value": "17/16/13",
                "type": "str"
            },
            {
                "label": "17/15/14",
                "value": "17/15/14",
                "type": "str"
            },
            {
                "label": "17/15/13",
                "value": "17/15/13",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 660,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "65bc9084f48ad196",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "d53f56c53ea19c84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fuel Processed  per Filter Change",
        "format": "{{msg.payload|number:0}} Litre",
        "layout": "col-center",
        "className": "",
        "x": 1320,
        "y": 2520,
        "wires": []
    },
    {
        "id": "c7c3cb185682e8e0",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "23/21/19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "23/21/18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "23/20/19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "23/20/18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22/21/19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22/21/18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22/20/19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22/20/18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 815,
        "y": 2520,
        "wires": [
            [
                "0c647e56f880332c"
            ],
            [
                "05e7f2f108b4ab61"
            ],
            [
                "d35633b3cbb50cbe"
            ],
            [
                "29309f3cd3139179"
            ],
            [
                "190c22daf6d9c312"
            ],
            [
                "1ae80b3df3cfeac9"
            ],
            [
                "69110c7778878dbe"
            ],
            [
                "dd3c1e76c6afaa20"
            ]
        ],
        "l": false
    },
    {
        "id": "05e7f2f108b4ab61",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "95000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2420,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "d35633b3cbb50cbe",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "92500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2460,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "29309f3cd3139179",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "90000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2500,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "0c647e56f880332c",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "97500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2380,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "1ae80b3df3cfeac9",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "85000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2580,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "69110c7778878dbe",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "82500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2620,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "dd3c1e76c6afaa20",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "80000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2660,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "190c22daf6d9c312",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "87500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2540,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ]
    },
    {
        "id": "39ffabe2e17935d1",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "d53f56c53ea19c84",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction Cost per Litre",
        "format": "Rp. {{msg.payload|number:2}}",
        "layout": "col-center",
        "className": "",
        "x": 1290,
        "y": 2780,
        "wires": []
    },
    {
        "id": "a7b8b52c950e27a1",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "df84df90d9be6c01",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recommended change out  pressure: 25 psid (1.7 bar)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 2740,
        "wires": []
    },
    {
        "id": "4189ffdb5be03f40",
        "type": "link out",
        "z": "9528cf535383c9df",
        "name": "link out clear",
        "mode": "link",
        "links": [
            "9b1e2b58f1c44ea3",
            "9067fefac8aead33",
            "9cea1685d05bb2af"
        ],
        "x": 650,
        "y": 2100,
        "wires": [],
        "l": true
    },
    {
        "id": "9b1e2b58f1c44ea3",
        "type": "link in",
        "z": "9528cf535383c9df",
        "name": "link in clear",
        "links": [
            "4189ffdb5be03f40"
        ],
        "x": 815,
        "y": 2220,
        "wires": [
            [
                "b17b5e83f1680299",
                "fa5420181682dc8d",
                "3477694755e9c87b"
            ]
        ]
    },
    {
        "id": "9067fefac8aead33",
        "type": "link in",
        "z": "9528cf535383c9df",
        "name": "link in clear",
        "links": [
            "4189ffdb5be03f40"
        ],
        "x": 1040,
        "y": 2340,
        "wires": [
            [
                "65bc9084f48ad196",
                "f4c6311103f17bac"
            ]
        ],
        "l": true
    },
    {
        "id": "fa5420181682dc8d",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "element_price",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "3477694755e9c87b",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "element_qty",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c6311103f17bac",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prediction_fuel_pass",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "fdc77b734362d4b6",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter_brand",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "30cc696a67f1cf9f",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filter_type",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "5aedcd886686141b",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "msg.payload = [ \n    {\n    \"filter_brand\": flow.get(\"filter_brand\"),\n    \"filter_type\": flow.get(\"filter_type\"),\n    \"element_price\": flow.get(\"element_price\"),\n    \"element_qty\": flow.get(\"element_qty\"),\n    \"prediction_fuel_pass\": flow.get(\"prediction_fuel_pass\")\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 2780,
        "wires": [
            [
                "d39ca940def18cda"
            ]
        ]
    },
    {
        "id": "d39ca940def18cda",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var price = msg.payload[0].element_price;\nvar qty = msg.payload[0].element_qty;\nvar prediction_fuel_pass= msg.payload[0].prediction_fuel_pass;\n\nmsg.payload = (price * qty) / prediction_fuel_pass;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 2780,
        "wires": [
            [
                "39ffabe2e17935d1"
            ]
        ]
    },
    {
        "id": "9cea1685d05bb2af",
        "type": "link in",
        "z": "9528cf535383c9df",
        "name": "link in clear",
        "links": [
            "4189ffdb5be03f40"
        ],
        "x": 1040,
        "y": 2740,
        "wires": [
            [
                "39ffabe2e17935d1"
            ]
        ],
        "l": true
    },
    {
        "id": "48418573936a86a9",
        "type": "ui_digital_display",
        "z": "9528cf535383c9df",
        "name": "Totalizer Flowmeter",
        "group": "7ec7fcdb05213811",
        "order": 5,
        "width": 3,
        "height": 1,
        "digits": "6",
        "decimals": "1",
        "x": 1570,
        "y": 3140,
        "wires": []
    },
    {
        "id": "70bd1318a5f12d6f",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "7ec7fcdb05213811",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Totalizer Flowmeter :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1580,
        "y": 3060,
        "wires": []
    },
    {
        "id": "f2b03c9114029275",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "7ec7fcdb05213811",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Average Flowrate :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1010,
        "y": 2900,
        "wires": []
    },
    {
        "id": "a6c028f10f5baa3a",
        "type": "ui_digital_display",
        "z": "9528cf535383c9df",
        "name": "Average Flowrate",
        "group": "7ec7fcdb05213811",
        "order": 3,
        "width": 3,
        "height": 1,
        "digits": "6",
        "decimals": "1",
        "x": 1010,
        "y": 2940,
        "wires": []
    },
    {
        "id": "03895512d67565e3",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "7ec7fcdb05213811",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Amount of Fuel Pass :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1580,
        "y": 2940,
        "wires": []
    },
    {
        "id": "df85575ed8da260b",
        "type": "ui_digital_display",
        "z": "9528cf535383c9df",
        "name": "Amount of Fuel Pass",
        "group": "7ec7fcdb05213811",
        "order": 7,
        "width": 3,
        "height": 1,
        "digits": "6",
        "decimals": "1",
        "x": 1580,
        "y": 3020,
        "wires": []
    },
    {
        "id": "c2ce4d84d34ae4d2",
        "type": "ui_slider",
        "z": "9528cf535383c9df",
        "name": "VSD",
        "label": "Variable Speed Drive :",
        "tooltip": "",
        "group": "7ec7fcdb05213811",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 270,
        "y": 2900,
        "wires": [
            [
                "f0feec42923847d3",
                "cf734207568c2b10"
            ]
        ]
    },
    {
        "id": "c853700183d1782c",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3509d49413e679be",
        "name": "Reset",
        "order": 5,
        "width": 3,
        "height": 1,
        "format": "<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\"\n    ng-click=\"send({payload: '1'})\">\n    Reset<br/>\n</md-button>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 2980,
        "wires": [
            [
                "95aaf6cee69098b5"
            ]
        ]
    },
    {
        "id": "f0feec42923847d3",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vsd",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "cf734207568c2b10",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "average flowrate",
        "func": "msg.payload = msg.payload*8.21;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2940,
        "wires": [
            [
                "00cbc5a0cdb5f635",
                "faecd5389ae77f99"
            ]
        ]
    },
    {
        "id": "54b350d003914f53",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fuel_processed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "8f331a30565da64e",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "3509d49413e679be",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual Cost per Litre",
        "format": "Rp. {{msg.payload|number:0}}",
        "layout": "col-center",
        "className": "",
        "x": 2100,
        "y": 2900,
        "wires": []
    },
    {
        "id": "00cbc5a0cdb5f635",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "flowrate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2940,
        "wires": [
            [
                "a6c028f10f5baa3a"
            ]
        ]
    },
    {
        "id": "faecd5389ae77f99",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "calculation",
        "func": "msg.payload = msg.payload/60;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 3020,
        "wires": [
            [
                "5c712a5398854183"
            ]
        ]
    },
    {
        "id": "f33ad4bd.777a5",
        "type": "counter",
        "z": "9528cf535383c9df",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "2",
        "x": 1360,
        "y": 3020,
        "wires": [
            [
                "df85575ed8da260b",
                "54b350d003914f53",
                "b48ec6e9c5856268"
            ],
            []
        ]
    },
    {
        "id": "5c712a5398854183",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 3020,
        "wires": [
            [
                "60c105857c1522fc"
            ]
        ]
    },
    {
        "id": "760d97dfd5abfcae",
        "type": "inject",
        "z": "9528cf535383c9df",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 135,
        "y": 2900,
        "wires": [
            [
                "c2ce4d84d34ae4d2"
            ]
        ],
        "l": false
    },
    {
        "id": "60c105857c1522fc",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "msg increment",
        "func": "msg.increment = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 3020,
        "wires": [
            [
                "f33ad4bd.777a5",
                "c01b542aebd9afd1"
            ]
        ]
    },
    {
        "id": "1e0c737613107fbe",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "msg reset",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 2980,
        "wires": [
            [
                "f33ad4bd.777a5"
            ]
        ]
    },
    {
        "id": "27c488560f310345",
        "type": "ui_toast",
        "z": "9528cf535383c9df",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "Reset Confirmation",
        "name": "",
        "x": 885,
        "y": 2980,
        "wires": [
            [
                "9c3aece161fb5777"
            ]
        ],
        "l": false
    },
    {
        "id": "9c3aece161fb5777",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 2980,
        "wires": [
            [
                "1e0c737613107fbe"
            ]
        ]
    },
    {
        "id": "c01b542aebd9afd1",
        "type": "counter",
        "z": "9528cf535383c9df",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "2",
        "x": 1360,
        "y": 3100,
        "wires": [
            [
                "48418573936a86a9",
                "8ac6caa219ef1ed6"
            ],
            []
        ]
    },
    {
        "id": "8ac6caa219ef1ed6",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "totalizer",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1560,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf8070315331571",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "actual cost per litre",
        "func": "var price = msg.payload[0].element_price;\nvar qty = msg.payload[0].element_qty;\nvar fuel_processed= msg.payload[0].fuel_processed;\n\nmsg.payload = (price * qty) / fuel_processed;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 2900,
        "wires": [
            [
                "8f331a30565da64e",
                "6292e61e45b2a856"
            ]
        ]
    },
    {
        "id": "b48ec6e9c5856268",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "msg.payload = [ \n    {\n    \"filter_brand\": flow.get(\"filter_brand\"),\n    \"filter_type\": flow.get(\"filter_type\"),\n    \"element_price\": flow.get(\"element_price\"),\n    \"element_qty\": flow.get(\"element_qty\"),\n    \"fuel_processed\": flow.get(\"fuel_processed\")\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 2900,
        "wires": [
            [
                "6cf8070315331571"
            ]
        ]
    },
    {
        "id": "6d4ddf0d8272d8b2",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Input Filter Elements",
        "info": "",
        "x": 310,
        "y": 2000,
        "wires": []
    },
    {
        "id": "99fbb2804cdeabf3",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Prediction Cost per Litre ",
        "info": "",
        "x": 320,
        "y": 2720,
        "wires": []
    },
    {
        "id": "337ed0efa3f92230",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Digital Flowmeter Simulation and Actual Cost per Litres",
        "info": "",
        "x": 420,
        "y": 2840,
        "wires": []
    },
    {
        "id": "6292e61e45b2a856",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actual_cpl",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "535d5b034f44e892",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1560,
        "wires": [
            [
                "fe8a6aef5620e8db"
            ],
            [
                "dd8bbfaa0cafe24d"
            ]
        ]
    },
    {
        "id": "1141192fb29bc3f6",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "show cleanliness",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT * FROM cleanliness ORDER BY id DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 3300,
        "wires": [
            [
                "d5b51181ac605a4a"
            ]
        ]
    },
    {
        "id": "d5b51181ac605a4a",
        "type": "mysql",
        "z": "9528cf535383c9df",
        "mydb": "347578936cd017ea",
        "name": "",
        "x": 1510,
        "y": 3240,
        "wires": [
            [
                "427b45260f5a7075"
            ]
        ]
    },
    {
        "id": "37ff383e44bd69ff",
        "type": "ui_text_input",
        "z": "9528cf535383c9df",
        "name": "search_data",
        "label": "",
        "tooltip": "type to seach",
        "group": "3aaaccf33a4ebc21",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 3240,
        "wires": [
            [
                "dcf7bb85d264088e"
            ]
        ]
    },
    {
        "id": "231bc994f9f8777d",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "search statement",
        "func": "msg.topic = \"SELECT * FROM cleanliness WHERE date LIKE '%\" + msg.search_data + \"%' OR time LIKE '%\" + msg.search_data + \"%' OR before_code_4um LIKE '%\" + msg.search_data + \"%' OR before_code_6um LIKE '%\" + msg.search_data + \"%' OR before_code_14um LIKE '%\" + msg.search_data + \"%' OR before_count_4um LIKE '%\" + msg.search_data + \"%' OR before_count_6um LIKE '%\" + msg.search_data + \"%' OR before_count_14um LIKE '%\" + msg.search_data + \"%' OR after_code_4um LIKE '%\" + msg.search_data + \"%' OR after_code_6um LIKE '%\" + msg.search_data + \"%' OR after_code_14um LIKE '%\" + msg.search_data + \"%' OR after_count_4um LIKE '%\" + msg.search_data + \"%' OR after_count_6um LIKE '%\" + msg.search_data + \"%' OR after_count_14um LIKE '%\" + msg.search_data + \"%' OR filter_housing1 LIKE '%\" + msg.search_data + \"%' OR filter_housing2 LIKE '%\" + msg.search_data + \"%' OR filter_brand LIKE '%\" + msg.search_data + \"%' OR filter_type LIKE '%\" + msg.search_data + \"%' OR element_qty LIKE '%\" + msg.search_data + \"%' OR element_price LIKE '%\" + msg.search_data + \"%' OR fuel_processed LIKE '%\" + msg.search_data + \"%' OR actual_cpl LIKE '%\" + msg.search_data + \"%' ORDER BY id DESC;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 3240,
        "wires": [
            [
                "d5b51181ac605a4a"
            ]
        ]
    },
    {
        "id": "c34c91d275c9ddb5",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "\nmsg = {\n    search_data   : flow.get(\"search_data\"),\n}\n//msg.payload=\"work order number \" \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3240,
        "wires": [
            [
                "231bc994f9f8777d"
            ]
        ]
    },
    {
        "id": "dcf7bb85d264088e",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "search_data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 3240,
        "wires": [
            [
                "78050e5a58621b4f"
            ]
        ]
    },
    {
        "id": "427b45260f5a7075",
        "type": "ui_table",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "",
        "order": 11,
        "width": 22,
        "height": 9,
        "columns": [
            {
                "field": "date",
                "title": "Date",
                "width": "8%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "time",
                "title": "Time",
                "width": "6%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_code_4um",
                "title": "B Code 4 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_code_6um",
                "title": "B Code 6 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_code_14um",
                "title": "B Code 14 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_count_4um",
                "title": "B Count 4 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_count_6um",
                "title": "B Count 6 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "before_count_14um",
                "title": "B Count 14 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_code_4um",
                "title": "A Code 4 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_code_6um",
                "title": "A Code 6 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_code_14um",
                "title": "A Code 14 μm",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_count_4um",
                "title": "A Count 4 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_count_6um",
                "title": "A Count 6 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "after_count_14um",
                "title": "A Count 14 μm",
                "width": "4%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "filter_housing1",
                "title": "DPT-1",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "filter_housing2",
                "title": "DPT-2",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "filter_brand",
                "title": "Filter Brand",
                "width": "5%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "filter_type",
                "title": "Filter Type",
                "width": "9%",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "element_qty",
                "title": "Qty of Element",
                "width": "3%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "element_price",
                "title": "Element Price",
                "width": "6%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "fuel_processed",
                "title": "Fuel Processed",
                "width": "6%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "actual_cpl",
                "title": "Cost per Litre",
                "width": "5%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1710,
        "y": 3240,
        "wires": []
    },
    {
        "id": "1ce2d22d703f08ae",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "",
        "order": 6,
        "width": 1,
        "height": 1,
        "format": "<style>\n    .tabulator {\n        //padding-left: 2px;\n        //border: 0px solid #BBB;\n        //background-color: #111217;\n        //font-size: 18px;\n        //font-family: \"Times New Roman\", serif;\n    }\n\n    /****/\n\n    /* Header formatieren */\n    .tabulator-col-title {\n        padding-top: 12px;\n        \n        //transform: rotate(90deg);\n        text-align: center;\n        writing-mode: vertical-lr;\n    }\n\n    /****/\n    .tabulator .tabulator-header {\n        border-bottom: 10px solid #BBB;\n        \n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 3300,
        "wires": [
            []
        ]
    },
    {
        "id": "38dc5c01b4946f55",
        "type": "comment",
        "z": "9528cf535383c9df",
        "name": "Show Tables",
        "info": "",
        "x": 290,
        "y": 3180,
        "wires": []
    },
    {
        "id": "82d40c2d1f555080",
        "type": "link out",
        "z": "9528cf535383c9df",
        "name": "show data tables",
        "mode": "link",
        "links": [
            "c69a841da9428ad6"
        ],
        "x": 1335,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c69a841da9428ad6",
        "type": "link in",
        "z": "9528cf535383c9df",
        "name": "link in to show tables",
        "links": [
            "82d40c2d1f555080"
        ],
        "x": 1030,
        "y": 3340,
        "wires": [
            [
                "1141192fb29bc3f6"
            ]
        ],
        "l": true
    },
    {
        "id": "dd8bbfaa0cafe24d",
        "type": "link out",
        "z": "9528cf535383c9df",
        "name": "link out false connection",
        "mode": "link",
        "links": [],
        "x": 780,
        "y": 1580,
        "wires": [],
        "l": true
    },
    {
        "id": "53cb80.1fbbb48",
        "type": "ui_date_picker",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "",
        "group": "3aaaccf33a4ebc21",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "start_date",
        "topicType": "str",
        "className": "",
        "x": 290,
        "y": 3300,
        "wires": [
            [
                "5b8389e0.371f88"
            ]
        ]
    },
    {
        "id": "1d1317a5.ebe9c8",
        "type": "ui_date_picker",
        "z": "9528cf535383c9df",
        "name": "",
        "label": "",
        "group": "3aaaccf33a4ebc21",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "end_date",
        "topicType": "str",
        "className": "",
        "x": 290,
        "y": 3340,
        "wires": [
            [
                "5492cbec.551d34"
            ]
        ]
    },
    {
        "id": "3668080d.9e73e8",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "start_date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 3300,
        "wires": [
            []
        ]
    },
    {
        "id": "7c014c58.e8d504",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "end_date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 3340,
        "wires": [
            []
        ]
    },
    {
        "id": "5492cbec.551d34",
        "type": "moment",
        "z": "9528cf535383c9df",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Asia/Bangkok",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 470,
        "y": 3340,
        "wires": [
            [
                "7c014c58.e8d504"
            ]
        ]
    },
    {
        "id": "5b8389e0.371f88",
        "type": "moment",
        "z": "9528cf535383c9df",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Asia/Bangkok",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 470,
        "y": 3300,
        "wires": [
            [
                "3668080d.9e73e8"
            ]
        ]
    },
    {
        "id": "81fa2235259be082",
        "type": "inject",
        "z": "9528cf535383c9df",
        "name": "",
        "props": [],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 145,
        "y": 1920,
        "wires": [
            [
                "aae0c73d9977caa5",
                "d482281f23200e6c"
            ]
        ],
        "l": false
    },
    {
        "id": "78050e5a58621b4f",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "Search",
        "order": 8,
        "width": 2,
        "height": 1,
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload:''})\"> \n    Search<br/>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 3240,
        "wires": [
            [
                "c34c91d275c9ddb5"
            ]
        ]
    },
    {
        "id": "e7690a8255cab3b7",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "Generate Data",
        "order": 10,
        "width": 1,
        "height": 1,
        "format": "    \n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\">\n    <a href=\"http://localhost/fms-yphe/dashboard/downloadCleanliness\" style=\"color:white\" ><i class=\"fa fa-download\" aria-hidden=\"true\"></i></a>\n</md-button>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 3340,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac48ededbf91dcc",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "Refresh",
        "order": 9,
        "width": 2,
        "height": 1,
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload:''})\"> \n    Refresh<br/>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 3300,
        "wires": [
            [
                "1141192fb29bc3f6"
            ]
        ]
    },
    {
        "id": "8d2594ef.698d08",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "ON/OFF state",
        "property": "switch",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 395,
        "y": 1640,
        "wires": [
            [
                "ab336f93.c9655"
            ],
            [
                "508ad1d9.d0683"
            ]
        ],
        "l": false
    },
    {
        "id": "ab336f93.c9655",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "Connect",
        "func": "msg.color = \"white\";\nmsg.background = \"#198754\";\nmsg.text = \"Connected\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "6bd91551ea943ab3"
            ]
        ]
    },
    {
        "id": "508ad1d9.d0683",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "Disconnect",
        "func": "msg.color = \"white\";\nmsg.background = \"#DC3845\";\nmsg.text = \"Disconnect\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "6bd91551ea943ab3"
            ]
        ]
    },
    {
        "id": "69fa3686.0a8ef8",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "button",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 855,
        "y": 1620,
        "wires": [
            [
                "19fd650d.56963b"
            ]
        ],
        "l": false
    },
    {
        "id": "19fd650d.56963b",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "",
        "func": "var obtaindata = global.get (\"switch\")\nif (obtaindata == \"1\"){msg.payload = 0}\nif (obtaindata == \"0\"){msg.payload = 1}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 1620,
        "wires": [
            [
                "acb5e0be.d3ead"
            ]
        ]
    },
    {
        "id": "65a47c10.e24204",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "",
        "func": "var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1640,
        "wires": [
            [
                "8d2594ef.698d08"
            ]
        ]
    },
    {
        "id": "acb5e0be.d3ead",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "switch",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "53f47fc.c84908",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"switch\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1560,
        "wires": [
            [
                "535d5b034f44e892"
            ]
        ]
    },
    {
        "id": "7cbb7fc1.8618e",
        "type": "change",
        "z": "9528cf535383c9df",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "switch",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd91551ea943ab3",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "Conn",
        "order": 1,
        "width": 3,
        "height": 1,
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload:'button'})\" > \n    {{msg.text}}  <a style=\"color:white\"><i class=\"fa fa-refresh\" aria-hidden=\"true\"></i></a>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 1620,
        "wires": [
            [
                "69fa3686.0a8ef8"
            ]
        ]
    },
    {
        "id": "97ec2c21.d6aec",
        "type": "inject",
        "z": "9528cf535383c9df",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 750,
        "y": 1660,
        "wires": [
            [
                "7cbb7fc1.8618e"
            ]
        ]
    },
    {
        "id": "3503635d6ef081e6",
        "type": "ui_template",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "name": "Show",
        "order": 5,
        "width": 2,
        "height": 1,
        "format": "\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#007CBE\" ng-click=\"send({payload:''})\"> \n    Show<br/>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 770,
        "y": 3200,
        "wires": [
            [
                "0a841419322f3d1f"
            ]
        ]
    },
    {
        "id": "0a841419322f3d1f",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "\nmsg = {\n    start_date   : flow.get(\"start_date\"),\n    end_date   : flow.get(\"end_date\"),\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3200,
        "wires": [
            [
                "f964147fbc08bfe8"
            ]
        ]
    },
    {
        "id": "f964147fbc08bfe8",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "show statement",
        "func": "msg.topic = \"SELECT * FROM cleanliness WHERE date BETWEEN  '\" + msg.start_date + \"' AND '\" + msg.end_date + \"' ORDER BY id DESC;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 3200,
        "wires": [
            [
                "d5b51181ac605a4a"
            ]
        ]
    },
    {
        "id": "536af90813f4563f",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "3aaaccf33a4ebc21",
        "order": 3,
        "width": 1,
        "height": 1,
        "name": "-",
        "label": "",
        "format": "to",
        "layout": "col-center",
        "className": "",
        "x": 1510,
        "y": 3340,
        "wires": []
    },
    {
        "id": "18acd63c3ca3019d",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "",
        "func": "var msg1 = { payload: msg.payload.before_code_6um};\nmsg1.topic = 'Before Code 6μm';\nvar msg2 = { payload: msg.payload.after_code_6um};\nmsg2.topic = 'After Code 6μm';\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "a09bbad3d7d9d45b"
            ],
            [
                "a09bbad3d7d9d45b"
            ]
        ]
    },
    {
        "id": "a09bbad3d7d9d45b",
        "type": "ui_chart",
        "z": "9528cf535383c9df",
        "name": "",
        "group": "8afd4dd98ed0092b",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "12",
        "ymax": "24",
        "removeOlder": "1",
        "removeOlderPoints": "250",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#dc3845",
            "#198754",
            "#198754",
            "#be0505",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "71f02f993020f0c7",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "",
        "func": "var msg1 = { payload: msg.payload.before_code_14um};\nmsg1.topic = 'Before Code 14μm';\nvar msg2 = { payload: msg.payload.after_code_14um};\nmsg2.topic = 'After Code 14μm';\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "31be39126431c1c3"
            ],
            [
                "31be39126431c1c3"
            ]
        ]
    },
    {
        "id": "31be39126431c1c3",
        "type": "ui_chart",
        "z": "9528cf535383c9df",
        "name": "",
        "group": "c6429d59b6e431e1",
        "order": 1,
        "width": "8",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "12",
        "ymax": "24",
        "removeOlder": "1",
        "removeOlderPoints": "250",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#dc3845",
            "#198754",
            "#198754",
            "#be0505",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2857e7cba6a521fd",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "",
        "func": "var msg1 = { payload: msg.payload.before_code_4um};\nmsg1.topic = 'Before Code 4μm';\nvar msg2 = { payload: msg.payload.after_code_4um};\nmsg2.topic = 'After Code 4μm';\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "f6cde4dc88a03ac1"
            ],
            [
                "f6cde4dc88a03ac1"
            ]
        ]
    },
    {
        "id": "f6cde4dc88a03ac1",
        "type": "ui_chart",
        "z": "9528cf535383c9df",
        "name": "",
        "group": "51142e84818e721f",
        "order": 1,
        "width": "7",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "12",
        "ymax": "24",
        "removeOlder": "1",
        "removeOlderPoints": "250",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#dc3845",
            "#198754",
            "#198754",
            "#be0505",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d97d2f171b5b8382",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "collecting data",
        "func": "msg.payload = [ \n    {\n    \"before_count_4um\": flow.get(\"before_count_4um\"),\n    \"before_count_6um\": flow.get(\"before_count_6um\"),\n    \"before_count_14um\": flow.get(\"before_count_14um\"),\n    \"after_count_4um\": flow.get(\"after_count_4um\"),\n    \"after_count_6um\": flow.get(\"after_count_6um\"),\n    \"after_count_14um\": flow.get(\"after_count_14um\"),\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "a3e4a78512982080",
                "e737c2a5ee48b584",
                "69aa80c372041934",
                "115d8f576ea66f47",
                "4d3813b52d967b91",
                "20ed70c53519122a"
            ]
        ]
    },
    {
        "id": "f0eb76a27b7071e4",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Beta Rating 4 μm",
        "format": "{{msg.payload|number:2}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a3e4a78512982080",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_4um\nvar b = msg.payload[0].after_count_4um\n\nmsg.payload = a / b ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1280,
        "wires": [
            [
                "f0eb76a27b7071e4"
            ]
        ],
        "l": false
    },
    {
        "id": "e737c2a5ee48b584",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_6um\nvar b = msg.payload[0].after_count_6um\n\nmsg.payload = a / b ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1360,
        "wires": [
            [
                "6a14ba61d4687468"
            ]
        ],
        "l": false
    },
    {
        "id": "6a14ba61d4687468",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Beta Rating 6 μm",
        "format": "{{msg.payload|number:2}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "69aa80c372041934",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_14um\nvar b = msg.payload[0].after_count_14um\n\nmsg.payload = a / b ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1440,
        "wires": [
            [
                "631d6c97c17ee812"
            ]
        ],
        "l": false
    },
    {
        "id": "631d6c97c17ee812",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Beta Rating 14 μm",
        "format": "{{msg.payload|number:2}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 1440,
        "wires": []
    },
    {
        "id": "115d8f576ea66f47",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_4um\nvar b = msg.payload[0].after_count_4um\nvar c = a / b ;\n\nmsg.payload = (1-(1/c))*100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1320,
        "wires": [
            [
                "0190a3fda50be236"
            ]
        ],
        "l": false
    },
    {
        "id": "0190a3fda50be236",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Efficiency 4 μm",
        "format": "{{msg.payload|number:2}}%",
        "layout": "col-center",
        "className": "",
        "x": 580,
        "y": 1320,
        "wires": []
    },
    {
        "id": "4d3813b52d967b91",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_6um\nvar b = msg.payload[0].after_count_6um\nvar c = a / b ;\n\nmsg.payload = (1-(1/c))*100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1400,
        "wires": [
            [
                "e8295238c98f3b94"
            ]
        ],
        "l": false
    },
    {
        "id": "e8295238c98f3b94",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Efficiency 6 μm",
        "format": "{{msg.payload|number:2}}%",
        "layout": "col-center",
        "className": "",
        "x": 580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "20ed70c53519122a",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "prediction cost per litre",
        "func": "var a = msg.payload[0].before_count_14um\nvar b = msg.payload[0].after_count_14um\nvar c = a / b ;\n\nmsg.payload = (1-(1/c))*100\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 445,
        "y": 1480,
        "wires": [
            [
                "12ee9cbe4e3cc22b"
            ]
        ],
        "l": false
    },
    {
        "id": "12ee9cbe4e3cc22b",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Efficiency 14 μm",
        "format": "{{msg.payload|number:2}}%",
        "layout": "col-center",
        "className": "",
        "x": 580,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ea84ddafed3d3ce2",
        "type": "ui_text",
        "z": "9528cf535383c9df",
        "group": "939d4be664ce1151",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Evaluate the performance of elements (ISO 16889:1999)",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 630,
        "y": 1220,
        "wires": []
    },
    {
        "id": "87ae783024ada7a1",
        "type": "switch",
        "z": "9528cf535383c9df",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 655,
        "y": 2780,
        "wires": [
            [
                "5aedcd886686141b"
            ]
        ],
        "l": false
    },
    {
        "id": "282774e6599c9bdd",
        "type": "ui_toast",
        "z": "9528cf535383c9df",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "Save Confirmation",
        "name": "",
        "x": 510,
        "y": 2780,
        "wires": [
            [
                "87ae783024ada7a1"
            ]
        ]
    },
    {
        "id": "ce16323157a1f66a",
        "type": "debug",
        "z": "9528cf535383c9df",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2700,
        "wires": []
    },
    {
        "id": "f4d2d33726516220",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "Format Payload for notification node",
        "func": "msg.payload = `<!DOCTYPE html>\n                <html><head>\n                <title>Save Confirmation</title>\n                </head>\n                <body>\n                   <div style = \"padding: 0 0.5em 0 0.5em\">\n                      <p> Are you sure you want to save data? </p>\n                   </div>\n                </body>\n                <style>\n                   .md-title {\n                       padding: 0 0.5em 0 0.5em;\n                   }\n                </style>\n                </html>`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 365,
        "y": 2780,
        "wires": [
            [
                "282774e6599c9bdd"
            ]
        ],
        "l": false
    },
    {
        "id": "95aaf6cee69098b5",
        "type": "function",
        "z": "9528cf535383c9df",
        "name": "Format Payload for notification node",
        "func": "msg.payload = `<!DOCTYPE html>\n                <html><head>\n                <title>Reset Confirmation</title>\n                </head>\n                <body>\n                   <div style = \"padding: 0 0.5em 0 0.5em\">\n                      <p> Are you sure you want to reset the fuel processed? </p>\n                   </div>\n                </body>\n                <style>\n                   .md-title {\n                       padding: 0 0.5em 0 0.5em;\n                   }\n                </style>\n                </html>`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 835,
        "y": 2980,
        "wires": [
            [
                "27c488560f310345"
            ]
        ],
        "l": false
    },
    {
        "id": "f133eb8e1213a252",
        "type": "ui_spacer",
        "z": "9528cf535383c9df",
        "name": "spacer",
        "group": "3509d49413e679be",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "54b22632c377241e",
        "type": "ui_spacer",
        "z": "9528cf535383c9df",
        "name": "spacer",
        "group": "3509d49413e679be",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "de7007329f0691c0",
        "type": "ui_group",
        "name": "Before - ISO Code Number",
        "tab": "cc04978bf0325851",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5a415f45a096169",
        "type": "ui_group",
        "name": "Before - Number of Particles",
        "tab": "cc04978bf0325851",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d8589f3de00ca30",
        "type": "ui_group",
        "name": "After - ISO Code Numbers",
        "tab": "cc04978bf0325851",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f6331b6733479de",
        "type": "ui_group",
        "name": "After - Number of Particles",
        "tab": "cc04978bf0325851",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3509d49413e679be",
        "type": "ui_group",
        "name": "Filtration Condition Monitoring",
        "tab": "d0bd9f4761708f29",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "347578936cd017ea",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3308",
        "db": "yphe_login",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "df84df90d9be6c01",
        "type": "ui_group",
        "name": "Differential Pressure Monitoring",
        "tab": "d0bd9f4761708f29",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ba89fe3c30a9f58",
        "type": "ui_group",
        "name": "Input Filter Element",
        "tab": "d0bd9f4761708f29",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d53f56c53ea19c84",
        "type": "ui_group",
        "name": "Calculation Predictions",
        "tab": "d0bd9f4761708f29",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ec7fcdb05213811",
        "type": "ui_group",
        "name": "Digital Flowmeter Simulation",
        "tab": "d0bd9f4761708f29",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3aaaccf33a4ebc21",
        "type": "ui_group",
        "name": "Filtration Records and Fuel Condition Monitoring",
        "tab": "d468fe3c14751d69",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8afd4dd98ed0092b",
        "type": "ui_group",
        "name": "Chart 6μm",
        "tab": "cc04978bf0325851",
        "order": 6,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6429d59b6e431e1",
        "type": "ui_group",
        "name": "Chart 14μm",
        "tab": "cc04978bf0325851",
        "order": 7,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51142e84818e721f",
        "type": "ui_group",
        "name": "Chart 4μm",
        "tab": "cc04978bf0325851",
        "order": 5,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "939d4be664ce1151",
        "type": "ui_group",
        "name": "Filter Element Performance",
        "tab": "d0bd9f4761708f29",
        "order": 6,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc04978bf0325851",
        "type": "ui_tab",
        "name": "Cleanliness",
        "icon": "developer_dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0bd9f4761708f29",
        "type": "ui_tab",
        "name": "Users",
        "icon": "people",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d468fe3c14751d69",
        "type": "ui_tab",
        "name": "Datalogger",
        "icon": "storage",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]